.bigWrapper {
  width: fit-content;
  margin: 0 auto;
  padding-top: 150px;
  .wrapper {
    display: flex;
    flex-direction: column;
    .smallWrapper {
      display: flex;
      // border: 2px solid red;
      width: 400px;
      justify-content: space-between;
      .smallerWrapper {
        display: flex;
        flex-direction: column;

        input {
          &:nth-of-type(2) {
            display: none;
          }
        }
      }
    }
  }
}
